In [202]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as pt
import datetime

# Data Cleaning, Preprocessing & Wrangling

# 1. Load Data

Read from CSV, Excel, SQL, JSON, API, etc.

In [206]:
df_swe = pd.read_csv('/Users/ashishchaudhary/Desktop/Nextleap_/final_Nextleap_web_scrap/software_engineering_jobs_all.csv')
df_pm = pd.read_csv('/Users/ashishchaudhary/Desktop/Nextleap_/final_Nextleap_web_scrap/product_management_jobs_all.csv')
df_ds = pd.read_csv('/Users/ashishchaudhary/Desktop/Nextleap_/final_Nextleap_web_scrap/data_analyst_jobs_all.csv')
df_uiux = pd.read_csv('/Users/ashishchaudhary/Desktop/Nextleap_/final_Nextleap_web_scrap/ui_ux_design_jobs_all.csv')

In [208]:
df = pd.concat([df_ds, df_swe, df_pm, df_uiux])

In [210]:
#pd.set_option("display.max_rows", None)   # show all rows

# 2. Understand the Data

Check shape, datatypes, nulls, summary stats.

In [213]:
df.head()

,Title,Company,Location,Type,Level,Posted_On,Job_URL,Full_Description,Responsibilities,Skills
0,Business Analyst,Time Hack Consulting,Bengaluru,Full-time,Entry level,12 Sep,https://nextleap.app/jobs/data-analyst/busines...,NaN,Collaborate with business areas to identify bu...,"Master’s degree in Business Administration, Ma..."
1,Business Analyst,Knowledgist ®,India,Full-time,Entry level,12 Sep,https://nextleap.app/jobs/data-analyst/busines...,NaN,NaN,NaN
2,Think41 - Data Analyst - Python/Tableau,Think41,Bengaluru,Full-time,Entry level,12 Sep,https://nextleap.app/jobs/data-analyst/think41...,"Think41, HSR layout Bangalore Job Type : Full-...",NaN,NaN
3,Data Analyst,Exponentia.ai,Chennai,Full-time,Entry level,12 Sep,https://nextleap.app/jobs/data-analyst/data-an...,is a fast-growing AI-first technology services...,NaN,"Proficiency in Python for data manipulation, a..."
4,Data Analyst,SmartQ,Bengaluru,Full-time,Entry level,12 Sep,https://nextleap.app/jobs/data-analyst/data-an...,NaN,NaN,NaN

In [215]:
# Merge with delimiter "|"
df["job_description"] = df[["Full_Description", "Responsibilities", "Skills"]].fillna("").agg("*****".join, axis=1,)

In [217]:
df.head(4)

,Title,Company,Location,Type,Level,Posted_On,Job_URL,Full_Description,Responsibilities,Skills,job_description
0,Business Analyst,Time Hack Consulting,Bengaluru,Full-time,Entry level,12 Sep,https://nextleap.app/jobs/data-analyst/busines...,NaN,Collaborate with business areas to identify bu...,"Master’s degree in Business Administration, Ma...",*****Collaborate with business areas to identi...
1,Business Analyst,Knowledgist ®,India,Full-time,Entry level,12 Sep,https://nextleap.app/jobs/data-analyst/busines...,NaN,NaN,NaN,**********
2,Think41 - Data Analyst - Python/Tableau,Think41,Bengaluru,Full-time,Entry level,12 Sep,https://nextleap.app/jobs/data-analyst/think41...,"Think41, HSR layout Bangalore Job Type : Full-...",NaN,NaN,"Think41, HSR layout Bangalore Job Type : Full-..."
3,Data Analyst,Exponentia.ai,Chennai,Full-time,Entry level,12 Sep,https://nextleap.app/jobs/data-analyst/data-an...,is a fast-growing AI-first technology services...,NaN,"Proficiency in Python for data manipulation, a...",is a fast-growing AI-first technology services...

In [219]:
df = df.drop(columns=["Full_Description", "Responsibilities", "Skills"])

In [221]:
df = df.reset_index(drop=True)

In [223]:
df['job_description'][0]

'*****Collaborate with business areas to identify business requirements and propose solutions that align with technical and budget feasibility. Facilitate communication and clarify the work scope between the development team and clients. Conduct a gap analysis to identify areas where improvements can be made. Work closely with the development team to understand project requirements and translate these into technical specifications. Develop and maintain project documentation such as user stories, functional requirements, and use cases. Manage project scope, timeline, and budget to ensure successful project delivery. Facilitate project meetings and ensure key stakeholders are kept informed of project progress. Identify project risks and develop mitigation plans. Provide support for UAT and assist in defect triage.*****Master’s degree in Business Administration, Management, Finance, or a related field from a top business school. 1 to 3 years of experience in requirement gathering, documentation and analysis, and proposing solutions to client requirements. Strong communication skills and ability to facilitate communication between clients and the development team. Strong problem-solving skills and ability to conduct gap analysis to identify areas where improvements can be made. Excellent documentation skills and ability to develop and maintain project documentation such as user stories, functional requirements, and use cases. Experience in managing project scope, timeline, and budget to ensure successful project delivery. Experience in supporting UAT and assisting in defect triage. Candidates With Experience In Finance Domain Are Highly Preferred.\nOur promise is to provide you with the most stimulating and challenging environment and to make\nyou a “force” in the financial services industry very quickly. Skills: documentation,gap analysis,functional requirements,project documentation,project,triage,communication'

In [225]:
print(df['Level'].value_counts())

Level
Entry level         5047
Mid-Senior level    1097
Not Applicable       288
Director              18
Name: count, dtype: int64

In [227]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7510 entries, 0 to 7509
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Title            7510 non-null   object
 1   Company          7510 non-null   object
 2   Location         7510 non-null   object
 3   Type             7497 non-null   object
 4   Level            6450 non-null   object
 5   Posted_On        7510 non-null   object
 6   Job_URL          7510 non-null   object
 7   job_description  7510 non-null   object
dtypes: object(8)
memory usage: 469.5+ KB

In [229]:
df.describe()

,Title,Company,Location,Type,Level,Posted_On,Job_URL,job_description
count,7510,7510,7510,7497,6450,7510,7510,7510
unique,2425,3953,172,6,4,353,7472,5084
top,Product Manager,OneBanc,Bengaluru,Full-time,Entry level,4 Nov,https://nextleap.app/jobs/data-analyst/data-an...,**********
freq,719,58,2250,6951,5047,71,2,1873

In [231]:
df.shape

(7510, 8)

In [233]:
df.dtypes

Title              object
Company            object
Location           object
Type               object
Level              object
Posted_On          object
Job_URL            object
job_description    object
dtype: object

# 3. Handle Missing Data

In [236]:
df.isnull().sum()

Title                 0
Company               0
Location              0
Type                 13
Level              1060
Posted_On             0
Job_URL               0
job_description       0
dtype: int64

In [238]:
#df['Type'] = df['Type'].fillna("mode")
df['Type'] = df['Type'].fillna(df['Type'].mode()[0])
df = df[df['Type'] != "Not Applicable"]

In [240]:
#df['Level'] = df['Level'].fillna("mode")
# Fill NaN in 'Level' column with its mode (most frequent value)
df['Level'] = df['Level'].fillna(df['Level'].mode()[0])
df = df[df['Level'] != "Not Applicable"]

In [242]:
#df['Full_Description'] = df['Full_Description'].fillna("No Description")
#df['Responsibilities'] = df['Responsibilities'].fillna("Not Provided")
#df['Skills'] = df['Skills'].fillna("Not Specified")

# 4. Handle Duplicates

In [245]:
df.duplicated().sum()    # check duplicates
df = df.drop_duplicates()

# Feature Engineering

In [248]:
df.head()

,Title,Company,Location,Type,Level,Posted_On,Job_URL,job_description
0,Business Analyst,Time Hack Consulting,Bengaluru,Full-time,Entry level,12 Sep,https://nextleap.app/jobs/data-analyst/busines...,*****Collaborate with business areas to identi...
1,Business Analyst,Knowledgist ®,India,Full-time,Entry level,12 Sep,https://nextleap.app/jobs/data-analyst/busines...,**********
2,Think41 - Data Analyst - Python/Tableau,Think41,Bengaluru,Full-time,Entry level,12 Sep,https://nextleap.app/jobs/data-analyst/think41...,"Think41, HSR layout Bangalore Job Type : Full-..."
3,Data Analyst,Exponentia.ai,Chennai,Full-time,Entry level,12 Sep,https://nextleap.app/jobs/data-analyst/data-an...,is a fast-growing AI-first technology services...
4,Data Analyst,SmartQ,Bengaluru,Full-time,Entry level,12 Sep,https://nextleap.app/jobs/data-analyst/data-an...,**********

In [254]:
df['Type'].value_counts()

Type
Full-time           6649
Internship           378
Entry level           77
Part-time             49
Mid-Senior level       8
Name: count, dtype: int64

In [256]:
df['Level'].value_counts()

Level
Entry level         6050
Mid-Senior level    1093
Director              18
Name: count, dtype: int64

In [258]:
df['Posted_On'][3000]

'19 Mar'

In [260]:
import pandas as pd
import datetime as dt

today = dt.datetime.now()

def fix_year(date_str):
    if pd.isna(date_str):
        return pd.NaT   # keep null if missing
    
    # Append year
    date_with_year = f"{date_str.strip()} {today.year}"
    
    # Let pandas infer instead of forcing strict format
    date = pd.to_datetime(date_with_year, errors="coerce", dayfirst=True)
    
    # If parsing worked but resulted in future date → assume last year
    if pd.notna(date) and date > today:
        date = date.replace(year=today.year - 1)
    return date

df["Posted_On"] = df["Posted_On"].apply(fix_year)

In [261]:
df.head()

,Title,Company,Location,Type,Level,Posted_On,Job_URL,job_description
0,Business Analyst,Time Hack Consulting,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/busines...,*****Collaborate with business areas to identi...
1,Business Analyst,Knowledgist ®,India,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/busines...,**********
2,Think41 - Data Analyst - Python/Tableau,Think41,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/think41...,"Think41, HSR layout Bangalore Job Type : Full-..."
3,Data Analyst,Exponentia.ai,Chennai,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/data-an...,is a fast-growing AI-first technology services...
4,Data Analyst,SmartQ,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/data-an...,**********

In [262]:
#print(df['Title'].value_counts())

In [263]:
#df["Title"].value_counts()

In [264]:
#pd.set_option("display.max_rows", None)   # show all rows
df = df[df["Title"].map(df["Title"].value_counts()) > 1]

In [265]:
df.shape

(5242, 8)

In [266]:
#print(df['Title'].value_counts())

# 6. Rename / Standardize Columns

What you should do: Cleaning & Normalization

Here’s a step-by-step plan:

1. Lowercase all titles

In [268]:
df["Title"] = df["Title"].str.lower().str.strip()

2. Remove extra punctuation, special chars, and extra spaces

In [269]:
import re

df["Title"] = df["Title"].str.replace(r"[^a-z0-9\s/]", " ", regex=True)
df["Title"] = df["Title"].str.replace(r"\s+", " ", regex=True).str.strip()

3. Standardize common variants with mapping

In [279]:
mapping = {
    # --- Product Manager ---
    "product manager": "product manager",
    "associate product manager": "product manager",
    "assistant product manager": "product manager",
    "apm": "product manager",
    "product management": "product manager",
    "technical product manager": "product manager",
    "growth product manager": "product manager",
    "digital product manager": "product manager",
    "ai product manager": "product manager",
    "product manager remote": "product manager",
    "founding product manager": "product manager",
    "product manager b2b saas": "product manager",
    "product manager lending": "product manager",
    "product manager ai": "product manager",
    "product manager supply chain": "product manager",
    "product manager saas": "product manager",
    "product owner": "product manager",
      "associate product manager cro": "associate product manager",
    "associate product manager freshers": "associate product manager",
    "associate product manager new initiatives": "associate product manager",
    "associate product manager salesforce": "associate product manager",
    "associate product manager spectrum": "associate product manager",
    "associate product manager payments domain": "associate product manager",
    "associate product manager strategy amp amp roadmap": "associate product manager",
    "associate product manager broker research": "associate product manager",
    "associate product manager in gurgaon": "associate product manager",
    "associate product manager bangalore": "associate product manager",
    "associate product manager at toolyt": "associate product manager",
    "associate product manager ad tech must": "associate product manager",
    "associate product manager/product manager": "associate product manager",
    "associate product manager / product manager": "associate product manager",
    "associate product manager 2": "associate product manager",
    "associate product manager lending": "associate product manager",
    "assistant product manager consumer lifecycle": "assistant product manager",

    "product owner": "product manager",
    "product manager 2": "product manager",
    "product manager saas": "product manager",
    "product manager remote": "product manager",
    "product manager growth": "product manager",
    "product manager internship": "product manager",
    "product manager gurugram based": "product manager",
    "product manager business owner remote": "product manager",
    "product manager ai": "product manager",
    "product manager b2b saas": "product manager",
    "founding product manager": "product manager",
    "lead product manager": "product manager",
    "digital product manager": "product manager",

    # --- Product Designer ---
    "product designer": "product designer",
    "ui/ux designer": "product designer",
    "ux/ui designer": "product designer",
    "ui ux designer": "product designer",
    "ui/ ux designer": "product designer",
    "ui / ux designer": "product designer",
    "ux designer": "product designer",
    "ui designer": "product designer",
    "user interface designer": "product designer",
    "user experience designer": "product designer",
    "user experience": "product designer",
    "ui/ux": "product designer",
    "ui/ux design": "product designer",
    "ui ux": "product designer",
    "uiux designer": "product designer",

    # --- Software Engineer ---
    "software engineer": "software engineer",
    "sde 1": "software engineer",
    "sde 2": "software engineer",
    "sde": "software engineer",
    "software development engineer": "software engineer",
    "sdet": "software engineer",
    "software engr": "software engineer",
    "system software engineer": "software engineer",
    "software engineer frontend": "software engineer",
    "software engineer backend": "software engineer",
    "software engineer full stack": "software engineer",
    "software engineer fullstack": "software engineer",
    "software engineer java": "software engineer",
    "software engineer python": "software engineer",
    "software engineer ui": "software engineer",
    "software developer/engineer": "software engineer",
    "software engineering": "software engineer",
     "software engineer 2": "software engineer",
    "software engineer 1": "software engineer",
    "software engineer frontend": "software engineer",
    "software engineer backend": "software engineer",
    "software engineer frontend sde1": "software engineer",
    "software engineer backend india": "software engineer",
    "software engineer integrations": "software engineer",
    "software engineer martech": "software engineer",
    "software engineer ios": "software engineer",
    "software engineer vue js": "software engineer",
    "software engineer python": "software engineer",
    "java software engineer": "software engineer",
    "software engineer java": "software engineer",
    "software engineer ui": "software engineer",
    "system software engineer": "software engineer",
    "embedded software engineer riscv": "software engineer",
    "graduate software engineer machine learning": "software engineer",
    "software engineer in test": "qa engineer",
    "software test engineer": "qa engineer",
    "software qa engineer": "qa engineer",
    "sdet": "qa engineer",
    "sdet india": "qa engineer",
    "sde 1": "software engineer",
    "sde 2": "software engineer",
    "sde 1 frontend": "software engineer",
    "sde 1 backend": "software engineer",
    "sde  android": "software engineer",
    "sde  frontend developer": "software engineer",
    "sde  backend developer": "software engineer",
    "sde  full stack developer": "software engineer",
    "software development engineer": "software engineer",
    "software development engineer in test": "qa engineer",
    "software development engineer in test sdet": "qa engineer",
    "software development engineer  frontend": "software engineer",
    "software development engineer  backend technologies": "software engineer",
    "software development engineer  fullstack": "software engineer",
    "software development engineer front end": "software engineer",
    "software development engineer  front end": "software engineer",
    "software development engineer 1": "software engineer",
    "software development engineer  fullstack collaboration core": "software engineer",

    # --- Data Analyst ---
    "data analyst": "data analyst",
    "business data analyst": "data analyst",
    "associate data analyst": "data analyst",
    "logistics data analyst": "data analyst",
    "marketing data analyst": "data analyst",
    "financial data analyst": "data analyst",
    "technical data analyst": "data analyst",
    "jr data analyst": "data analyst",
    "data analyst associate": "data analyst",
    "data analyst finance": "data analyst",
    "data analyst pgdm finance freshers": "data analyst",
    "data analyst walkin drive in office/19 jul": "data analyst","jr data analyst": "data analyst",
    "junior data analyst": "data analyst",
    "data analyst intern": "data analyst",
    "data analyst trainee": "data analyst",
    "data analyst associate": "data analyst",
    "data analyst pgdm finance freshers": "data analyst",
    "real asset data analyst": "data analyst",
    "business data analyst": "data analyst",
    "logistics data analyst": "data analyst",
    "financial data analyst": "data analyst",
    "ai data analyst": "data analyst",
    "marketing data analyst": "data analyst",
    "technical data analyst": "data analyst",
    "data analyst/associate data analyst": "data analyst",
    "data analyst gaming": "data analyst",
    "data analyst finance": "data analyst",
    "jr business analyst": "business analyst",  # fix mislabel
    "business analyst in gurgaon": "business analyst",
    "business analyst gurgaon india": "business analyst",
    "business analyst/ pre sales": "business analyst",
    "business analyst remote": "business analyst",
    "business analyst cms": "business analyst",
    "business analyst account receivable": "business analyst",
    "business analyst minerva": "business analyst",
    "business analyst fresher": "business analyst",
    "business analyst associate": "business analyst",
    "business analyst data analytics": "business analyst",
    "business analyst information management": "business analyst",
    "information technology business analyst": "business analyst",


    # --- Business Analyst ---
    "business analyst": "business analyst",
    "associate business analyst": "business analyst",
    "jr business analyst": "business analyst",
    "business analysts": "business analyst",
    "business analyst remote": "business analyst",
    "business analyst fresher": "business analyst",
    "business analyst trainee": "business analyst",
    "business analyst in gurgaon": "business analyst",
    "technical business analyst": "business analyst",
    "sales business analyst": "business analyst",

    # --- Frontend Developer ---
    "frontend developer": "frontend developer",
    "front end developer": "frontend developer",
    "front-end developer": "frontend developer",
    "frontend engineer": "frontend developer",
    "frontend software engineer": "frontend developer",
    "frontend react developer": "frontend developer",
    "frontend developer react": "frontend developer",
    "frontend developer angular": "frontend developer",
    "frontend developer vue js": "frontend developer",
    "frontend developer internship remote": "frontend developer",
    "frontend engineer react": "frontend developer",
     "front end developer": "frontend developer",
    "front-end developer": "frontend developer",
    "frontend engineer": "frontend developer",
    "frontend engineer remote": "frontend developer",
    "frontend developer react js": "frontend developer",
    "frontend developer react js/javascript": "frontend developer",
    "frontend developer/angular developer": "frontend developer",
    "frontend developer next js/tailwind css": "frontend developer",
    "frontend developer sde 2": "frontend developer",
    "frontend software engineer": "frontend developer",
    "front end software engineer": "frontend developer",
    "front end engineer": "frontend developer",
    "frontend react developer": "frontend developer",
    "frontend developer react js/typescript": "frontend developer",

    # --- Backend Developer ---
    "backend developer": "backend developer",
    "back end developer": "backend developer",
    "back-end developer": "backend developer",
    "backend engineer": "backend developer",
    "backend software developer": "backend developer",
    "backend developer node js": "backend developer",
    "backend developer python programming": "backend developer",
    "backend developer spring boot": "backend developer",
    "back end developer": "backend developer",
    "back-end developer": "backend developer",
    "backend engineer": "backend developer",
    "backend engineer india": "backend developer",
    "java backend developer": "backend developer",
    "backend developer in gurgaon": "backend developer",
    "backend developer in bangalore": "backend developer",
    "backend developer contract": "backend developer",
    "backend developer php frameworks": "backend developer",
    "sde  backend developer": "backend developer",
    "cloud and backend developer": "backend developer",
    "backend software developer": "backend developer",
    "backend": "backend developer",

    # --- Full Stack ---
    "full stack developer": "full stack developer",
    "fullstack developer": "full stack developer",
    "full stack engineer": "full stack developer",
    "fullstack engineer": "full stack developer",
    "full stack software engineer": "full stack developer",
    "fullstack software engineer": "full stack developer",
    "mern stack developer": "full stack developer",
    "mean stack developer": "full stack developer",
}


df["Title"] = df["Title"].replace(mapping)

4. Remove “levels” like I, II, Intern, Trainee, Junior, Senior

In [281]:
df["Title"] = df["Title"].str.replace(r"\b(i{1,3}|ii|iii|iv|v|intern|trainee|junior|senior)\b", "", regex=True).str.strip()

In [283]:
df.head()

,Title,Company,Location,Type,Level,Posted_On,Job_URL,job_description
0,business analyst,Time Hack Consulting,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/busines...,*****Collaborate with business areas to identi...
1,business analyst,Knowledgist ®,India,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/busines...,**********
3,data analyst,Exponentia.ai,Chennai,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/data-an...,is a fast-growing AI-first technology services...
4,data analyst,SmartQ,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/data-an...,**********
6,business analyst,Signzy,Bengaluru,Full-time,Entry level,2025-09-11,https://nextleap.app/jobs/data-analyst/associa...,We are looking for a Techno-Functional Busines...

In [285]:
#df = df.drop(columns=["Title_clean"])

In [287]:
print(df['Title'].value_counts())

Title
product manager                     1290
product designer                     676
data analyst                         499
software engineer                    494
frontend developer                   481
                                    ...
shopify developer                      2
associate software engineer java       2
back end sde 1                         2
software developer angular             2
product designer 1                     2
Name: count, Length: 194, dtype: int64

In [289]:
print(df['Location'].value_counts())

Location
Bengaluru     1513
India          592
Gurugram       494
Hyderabad      306
Pune           284
              ...
Mangaluru        1
Kanayannur       1
Nagercoil        1
Tiruppur         1
Ranchi           1
Name: count, Length: 138, dtype: int64

In [291]:
print(df['Type'].value_counts())

Type
Full-time           4898
Internship           249
Entry level           58
Part-time             32
Mid-Senior level       5
Name: count, dtype: int64

In [293]:
print(df['Level'].value_counts())

Level
Entry level         4375
Mid-Senior level     857
Director              10
Name: count, dtype: int64

In [297]:
df.head()

,Title,Company,Location,Type,Level,Posted_On,Job_URL,job_description
0,business analyst,Time Hack Consulting,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/busines...,*****Collaborate with business areas to identi...
1,business analyst,Knowledgist ®,India,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/busines...,**********
3,data analyst,Exponentia.ai,Chennai,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/data-an...,is a fast-growing AI-first technology services...
4,data analyst,SmartQ,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/data-an...,**********
6,business analyst,Signzy,Bengaluru,Full-time,Entry level,2025-09-11,https://nextleap.app/jobs/data-analyst/associa...,We are looking for a Techno-Functional Busines...

In [299]:
df.shape

(5242, 8)

In [301]:
df.head()

,Title,Company,Location,Type,Level,Posted_On,Job_URL,job_description
0,business analyst,Time Hack Consulting,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/busines...,*****Collaborate with business areas to identi...
1,business analyst,Knowledgist ®,India,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/busines...,**********
3,data analyst,Exponentia.ai,Chennai,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/data-an...,is a fast-growing AI-first technology services...
4,data analyst,SmartQ,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/data-an...,**********
6,business analyst,Signzy,Bengaluru,Full-time,Entry level,2025-09-11,https://nextleap.app/jobs/data-analyst/associa...,We are looking for a Techno-Functional Busines...

In [303]:
df["job_description"][0]

'*****Collaborate with business areas to identify business requirements and propose solutions that align with technical and budget feasibility. Facilitate communication and clarify the work scope between the development team and clients. Conduct a gap analysis to identify areas where improvements can be made. Work closely with the development team to understand project requirements and translate these into technical specifications. Develop and maintain project documentation such as user stories, functional requirements, and use cases. Manage project scope, timeline, and budget to ensure successful project delivery. Facilitate project meetings and ensure key stakeholders are kept informed of project progress. Identify project risks and develop mitigation plans. Provide support for UAT and assist in defect triage.*****Master’s degree in Business Administration, Management, Finance, or a related field from a top business school. 1 to 3 years of experience in requirement gathering, documentation and analysis, and proposing solutions to client requirements. Strong communication skills and ability to facilitate communication between clients and the development team. Strong problem-solving skills and ability to conduct gap analysis to identify areas where improvements can be made. Excellent documentation skills and ability to develop and maintain project documentation such as user stories, functional requirements, and use cases. Experience in managing project scope, timeline, and budget to ensure successful project delivery. Experience in supporting UAT and assisting in defect triage. Candidates With Experience In Finance Domain Are Highly Preferred.\nOur promise is to provide you with the most stimulating and challenging environment and to make\nyou a “force” in the financial services industry very quickly. Skills: documentation,gap analysis,functional requirements,project documentation,project,triage,communication'

In [305]:
import sys
print(sys.executable)

/opt/anaconda3/bin/python

In [307]:
#!pip uninstall -y numpy spacy thinc h5py

In [309]:
#!pip install numpy --upgrade --force-reinstall

In [311]:
#!pip install spacy h5py --upgrade --force-reinstall

In [313]:
#!python -m spacy download en_core_web_sm

# Natural Laguage Processing

In [317]:
import spacy
print(spacy.__version__)

3.8.7

In [320]:
# Load spacy model
nlp = spacy.load("en_core_web_sm")

In [322]:
def preprocess_text(text):
    """
    Minimal preprocessing: clean, tokenize, remove stopwords, lemmatize
    """
    if pd.isna(text) or text == "":
        return ""
    
    # Basic cleaning
    text = str(text).lower()
    text = re.sub(r'\*+', ' ', text)  # Remove asterisks
    text = re.sub(r'[^\w\s]', ' ', text)  # Remove punctuation
    text = re.sub(r'\s+', ' ', text).strip()  # Remove extra spaces
    
    # Process with spaCy
    doc = nlp(text)
    
    # Tokenize, remove stopwords, lemmatize
    processed_tokens = [token.lemma_ for token in doc 
                       if not token.is_stop and not token.is_punct and len(token.text) > 2]
    
    return ' '.join(processed_tokens)

In [324]:
# Apply to your dataframe
df['job_description_processed'] = df['job_description'].apply(preprocess_text)

In [325]:
# Check results
print("Original:")
print(df['job_description'].iloc[0][:200])
print("\nProcessed:")
print(df['job_description_processed'].iloc[0][:200])

Original:
*****Collaborate with business areas to identify business requirements and propose solutions that align with technical and budget feasibility. Facilitate communication and clarify the work scope betwe

Processed:
collaborate business area identify business requirement propose solution align technical budget feasibility facilitate communication clarify work scope development team client conduct gap analysis ide

In [326]:
print(df['job_description_processed'].iloc[979])

passionate software developer look significant impact dynamic innovative environment thrive solve complex problem deliver high quality solution want hear location sector gurugram company wavexcel key responsibility develop test maintain software application collaborate cross functional team define design ship new feature troubleshoot debug optimize exist software participate code review contribute good practice continuously learn apply new technology improve development efficiency experience software development strong focus java net solid understanding object orient programming principle experience sql database design strong problem solve skill attention detail excellent communication teamwork ability proactive self motivated attitude passion continuous learn high motivation work solve complex problem deliver innovative solution prove track record solve code challenge platform like leetcode hackerrank similar experience frontend framework candidate prior experience maui multi platform app strongly preferred opportunity work innovative project cut edge technology collaborative inclusive work environment professional growth development opportunity competitive salary benefit package ready career level significant impact apply send resume brief cover letter wavexcel apply directly linkedin job posting join wavexcel dynamic team value creativity innovation excellence

In [327]:
df.head()

,Title,Company,Location,Type,Level,Posted_On,Job_URL,job_description,job_description_processed
0,business analyst,Time Hack Consulting,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/busines...,*****Collaborate with business areas to identi...,collaborate business area identify business re...
1,business analyst,Knowledgist ®,India,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/busines...,**********,
3,data analyst,Exponentia.ai,Chennai,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/data-an...,is a fast-growing AI-first technology services...,fast grow technology service company partner e...
4,data analyst,SmartQ,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/data-an...,**********,
6,business analyst,Signzy,Bengaluru,Full-time,Entry level,2025-09-11,https://nextleap.app/jobs/data-analyst/associa...,We are looking for a Techno-Functional Busines...,look techno functional business analyst bridge...

In [328]:
df.reset_index(drop=True, inplace=True)

In [344]:
pd.set_option("display.max_rows", None)

In [348]:
print(df['Title'].value_counts())

Title
product manager                                             1290
product designer                                             676
data analyst                                                 499
software engineer                                            494
frontend developer                                           481
business analyst                                             411
backend developer                                            169
full stack developer                                         146
software developer                                            95
product analyst                                               66
web developer                                                 53
associate product manager                                     47
react native developer                                        30
ui/ux                                                         27
react js developer                                            26
react developer                                               25
java developer                                                25
associate software engineer                                   24
qa engineer                                                   24
product management                                            23
python developer                                              19
php developer                                                 18
software development engineer                                 16
associate ui/ux designer                                      16
android developer                                             15
software engr                                                 14
reactjs developer                                             14
ui/ux designer                                                12
javascript developer                                          12
ios developer                                                 12
node js developer                                             12
ui/ux design                                                  11
product design                                                11
angular developer                                              8
associate product manager remote                               8
software development engineer  frontend                        7
associate ux designer                                          6
data engineer                                                  6
associate product designer                                     6
user experience designer                                       5
front end developer react js                                   5
full stack web developer                                       5
product business analyst                                       5
ux designer                                                    5
software developer python                                      5
ml engineer                                                    4
machine learning engineer                                      4
sde  backend developer                                         4
flutter developer                                              4
associate software developer                                   4
ux researcher                                                  4
product                                                        4
ui/ux designer figma/adobe xd                                  4
net web developer                                              4
all positions in software development                          4
frontend developer all levels                                  4
sde  frontend developer                                        4
engineer  software                                             4
full stack engineer                                            4
product associate                                              4
software engineer  java                                        3
front end web developer                                        3
full stack developer node js react                             3
product designer remote                                        3
software engineer  frontend/ ui                                3
web frontend software engineer                                 3
user experience                                                3
software engineer 15 35 lpa                                    3
engineer  software development                                 3
software development engineer  backend technologies            3
interesting job opportunity associate product manager          3
associate technical product manager                            3
1lattice business analyst                                      3
product management associate product manager telco             3
det full stack developer                                       3
software engineer international india                          3
game ui/ux designer                                            3
marketing analyst                                              3
ux/ui designer                                                 3
ui ux                                                          3
jr mean stack developer                                        3
full stack software developer                                  3
software developer in gurgaon                                  3
sde  android                                                   3
product designer ui/ux                                         3
analyst                                                        3
next js developer                                              3
lead data analyst                                              3
software engineer  fullstack collaboration core                3
devops engineer                                                3
fullstack developer java reactjs                               2
product designer ui/ux designer                                2
android engineer                                               2
product lenskart                                               2
jr ux/ui designer                                              2
ui designer                                                    2
sr product designer                                            2
front end engineer india                                       2
product development engineer  frontend                         2
software engineering engineer                                  2
ui/ux design internship in gurgaon                             2
engineer software development                                  2
frontend engineer react native                                 2
sales lending product manager                                  2
product design  ui/ux                                          2
associate product manager / product manager ad tech must       2
product analyst  sea market                                    2
assistant product manager                                      2
product analyst associate product manager                      2
product manager gurugram based                                 2
product manager internal business solutions                    2
product owner                                                  2
ui /ux designer                                                2
jr ux designer                                                 2
associate product manager payments                             2
product analyst transactions                                   2
ui/ux designer figma/sketch/adobe xd                           2
associate ui/ux designer in delhi                              2
ux ui designer                                                 2
software engineer test                                         2
product specialist                                             2
ui ux designer                                                 2
ui/ux experience designer                                      2
product designer ui ux                                         2
tech product analyst                                           2
associate product manager credit cards                         2
ux research                                                    2
product development engineer  fullstack                        2
sde 2 backend                                                  2
python backend developer                                       2
front end developer                                            2
jr web developer                                               2
associate                                                      2
full stack developer reactjs nodejs                            2
staff engineer frontend developer bem methodology              2
software developer ap                                          2
backend                                                        2
web frontend engineer js css react flutter                     2
web development                                                2
nodejs developer                                               2
frontend developer react                                       2
software engineering                                           2
astrotalk backend developer java/golang                        2
java fullstack developer                                       2
associate software developer in bangalore                      2
software engineer backend bangalore india                      2
python backend developer gen ai gurgaon                        2
sr business analyst                                            2
data analyst 1                                                 2
data analyst pgdm finance freshers                             2
data science and data analyst                                  2
market analyst                                                 2
business analyst remote                                        2
data analytics internship in bangalore                         2
business analyst  remote                                       2
technical business analyst 5pm 2am                             2
analytics                                                      2
analyst data analytics                                         2
data analyst in gurgaon                                        2
compensation business analyst                                  2
php backend developer                                          2
node js developer fresher                                      2
software test engineer automation                              2
full stack developer node js/react js                          2
sde  full stack developer                                      2
product development engineer  front end developer              2
software development engineer in test                          2
software engineer 1 backend                                    2
software engineer frontend platform                            2
upstox software development engineer  backend                  2
software engineer 1 java full stack                            2
software development engineer  fullstack                       2
software development engineer  front end                       2
engineer                                                       2
software engineer backend talent mgt platform                  2
software engineer  1                                           2
software engineer front end developer                          2
astrotalk android developer java/kotlin                        2
test engineer                                                  2
fullstack software engineer react                              2
software engineer  log ingest                                  2
java developer spring boot                                     2
software developer 25 60 lpa                                   2
mobile application developer                                   2
django developer                                               2
react frontend developer                                       2
software support engineer                                      2
dotnet developer                                               2
software developer c                                           2
shopify developer                                              2
associate software engineer java                               2
back end sde 1                                                 2
software developer angular                                     2
product designer 1                                             2
Name: count, dtype: int64

In [334]:
df

,Title,Company,Location,Type,Level,Posted_On,Job_URL,job_description,job_description_processed
0,business analyst,Time Hack Consulting,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/busines...,*****Collaborate with business areas to identi...,collaborate business area identify business re...
1,business analyst,Knowledgist ®,India,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/busines...,**********,
2,data analyst,Exponentia.ai,Chennai,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/data-an...,is a fast-growing AI-first technology services...,fast grow technology service company partner e...
3,data analyst,SmartQ,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/data-an...,**********,
4,business analyst,Signzy,Bengaluru,Full-time,Entry level,2025-09-11,https://nextleap.app/jobs/data-analyst/associa...,We are looking for a Techno-Functional Busines...,look techno functional business analyst bridge...
...,...,...,...,...,...,...,...,...,...
5237,product designer,FinBox,Bengaluru,Full-time,Entry level,2025-06-03,https://nextleap.app/jobs/ui-ux-design/product...,"Collaborate, Take Ownership, Innovate,** and *...",collaborate ownership innovate improve core ma...
5238,user experience designer,Orangewood,Noida,Internship,Entry level,2025-06-01,https://nextleap.app/jobs/ui-ux-design/user-ex...,**********,
5239,product designer,Kredmint,Faridabad,Full-time,Entry level,2025-05-31,https://nextleap.app/jobs/ui-ux-design/uiux-de...,Kredmint is a forward-thinking fintech company...,kredmint forward thinking fintech company dedi...
5240,product designer,Innovaccer,Noida,Full-time,Entry level,2025-05-31,https://nextleap.app/jobs/ui-ux-design/product...,Our product team is a dynamic group of skilled...,product team dynamic group skilled individual ...
5241,product designer,Karnival,Gurugram,Full-time,Entry level,2025-05-31,https://nextleap.app/jobs/ui-ux-design/product...,**********Work experience as a Product Designe...,work experience product designer similar role ...

# Name Entity Recognition

In [352]:
# Define comprehensive skill and domain dictionaries
skills_tech_stack = [
    # Programming Languages
    "python", "java", "javascript", "typescript", "c++", "c#", "php", "ruby", "swift", "kotlin", 
    "go", "rust", "scala", "r", "matlab", "perl", "shell", "bash", "powershell",
    
    # Web Technologies
    "html", "css", "sass", "less", "react", "angular", "vue", "next.js", "nuxt.js", "svelte",
    "jquery", "bootstrap", "tailwind", "material-ui", "node.js", "express", "nestjs", "django",
    "flask", "fastapi", "spring", "laravel", "rails", "asp.net",
    
    # Mobile Development
    "react native", "flutter", "android", "ios", "xamarin", "ionic", "cordova",
    
    # Databases
    "sql", "mysql", "postgresql", "mongodb", "redis", "elasticsearch", "cassandra", "oracle",
    "sqlite", "mariadb", "dynamodb", "cosmosdb", "neo4j", "bigquery", "snowflake", "redshift",
    
    # Data Science & Analytics
    "pandas", "numpy", "scikit-learn", "tensorflow", "keras", "pytorch", "opencv", "nltk",
    "spacy", "matplotlib", "seaborn", "plotly", "jupyter", "anaconda", "spark", "hadoop",
    "kafka", "airflow", "dbt", "looker", "tableau", "powerbi", "qlik", "metabase",
    
    # Cloud & DevOps
    "aws", "azure", "gcp", "docker", "kubernetes", "jenkins", "gitlab", "github", "terraform",
    "ansible", "chef", "puppet", "vagrant", "helm", "istio", "prometheus", "grafana",
    
    # Tools & Platforms
    "git", "jira", "confluence", "slack", "teams", "notion", "trello", "asana", "clickup",
    "figma", "sketch", "adobe", "photoshop", "illustrator", "xd", "invision", "zeplin",
    "postman", "swagger", "insomnia", "charles", "wireshark",
    
    # Testing
    "selenium", "cypress", "jest", "mocha", "pytest", "junit", "testng", "cucumber",
    "appium", "detox", "playwright",
    
    # CRM & Business Tools
    "salesforce", "hubspot", "pipedrive", "zendesk", "freshworks", "servicenow", "workday",
    "sap", "oracle", "microsoft dynamics", "netsuite",
    
    # E-commerce & Marketing
    "shopify", "magento", "woocommerce", "prestashop", "google analytics", "google ads",
    "facebook ads", "linkedin ads", "mailchimp", "sendgrid", "amplitude", "mixpanel"
]

domain_keywords = [
    # Industries
    "fintech", "edtech", "healthtech", "proptech", "regtech", "insurtech", "martech",
    "banking", "finance", "insurance", "healthcare", "education", "real estate", "retail",
    "ecommerce", "e-commerce", "marketplace", "logistics", "supply chain", "manufacturing",
    "automotive", "aerospace", "energy", "utilities", "telecommunications", "media",
    "entertainment", "gaming", "sports", "travel", "hospitality", "food", "agriculture",
    "construction", "mining", "pharmaceutical", "biotechnology", "life sciences",
    
    # Business Models
    "b2b", "b2c", "b2b2c", "saas", "paas", "iaas", "d2c", "marketplace", "platform",
    "subscription", "freemium", "enterprise", "startup", "scaleup", "unicorn",
    
    # Functional Areas
    "product management", "product development", "product strategy", "product marketing",
    "growth", "marketing", "sales", "customer success", "support", "operations",
    "supply chain", "procurement", "hr", "human resources", "recruiting", "talent",
    "finance", "accounting", "legal", "compliance", "risk", "audit", "security",
    "cybersecurity", "data privacy", "gdpr", "hipaa", "pci", "sox",
    
    # Technology Domains
    "artificial intelligence", "machine learning", "deep learning", "computer vision",
    "natural language processing", "nlp", "blockchain", "cryptocurrency", "iot",
    "internet of things", "cloud computing", "edge computing", "microservices",
    "api", "devops", "devsecops", "ci/cd", "automation", "robotics", "ar", "vr",
    "augmented reality", "virtual reality", "mixed reality"
]

soft_skills_keywords = [
    # Communication
    "communication", "verbal communication", "written communication", "presentation",
    "public speaking", "storytelling", "active listening", "cross-cultural communication",
    
    # Leadership & Management
    "leadership", "team leadership", "people management", "project management",
    "program management", "change management", "conflict resolution", "coaching",
    "mentoring", "delegation", "decision making", "strategic thinking",
    
    # Collaboration & Teamwork
    "collaboration", "teamwork", "cross-functional", "stakeholder management",
    "relationship building", "networking", "partnership", "vendor management",
    "client management", "customer facing",
    
    # Problem Solving & Analysis
    "problem solving", "analytical thinking", "critical thinking", "creative thinking",
    "innovation", "design thinking", "systems thinking", "root cause analysis",
    "troubleshooting", "debugging", "research", "data analysis",
    
    # Personal Qualities
    "adaptability", "flexibility", "resilience", "persistence", "self-motivated",
    "proactive", "initiative", "ownership", "accountability", "reliability",
    "attention to detail", "accuracy", "quality focus", "continuous improvement",
    "learning agility", "curiosity", "growth mindset", "emotional intelligence",
    
    # Work Style
    "time management", "prioritization", "organization", "multitasking", "efficiency",
    "productivity", "deadline management", "pressure handling", "fast-paced",
    "startup environment", "agile", "lean", "iterative", "experimental",
    
    # Customer & Business Focus
    "customer centric", "user focused", "business acumen", "commercial awareness",
    "market understanding", "competitive analysis", "revenue focus", "cost conscious",
    "roi", "kpi", "metrics driven", "data driven", "evidence based",
    
    # Interpersonal Skills
    "empathy", "patience", "diplomacy", "negotiation", "persuasion", "influence",
    "consensus building", "facilitation", "mediation", "cultural sensitivity"
]

def extract_skills(text):
    """Extract technical skills from text"""
    doc = nlp(text.lower())
    found = []
    for skill in skills_tech_stack:
        if skill.lower() in doc.text:
            found.append(skill)
    return list(set(found))

def extract_domains(text):
    """Extract domain/industry keywords from text"""
    doc = nlp(text.lower())
    found = []
    for domain in domain_keywords:
        if domain.lower() in doc.text:
            found.append(domain)
    return list(set(found))

def extract_soft_skills(text):
    """Extract soft skills from text"""
    doc = nlp(text.lower())
    found = []
    for skill in soft_skills_keywords:
        if skill.lower() in doc.text:
            found.append(skill)
    return list(set(found))

def extract_entities(text):
    """Extract named entities using spaCy NER"""
    doc = nlp(text)
    return [(ent.text, ent.label_) for ent in doc.ents]

# Apply extraction functions to the dataframe
# Note: Using 'product_description' column as specified
df['extracted_skills'] = df['job_description_processed'].apply(extract_skills)
df['extracted_domains'] = df['job_description_processed'].apply(extract_domains)
df['extracted_soft_skills'] = df['job_description_processed'].apply(extract_soft_skills)
df['entities'] = df['job_description_processed'].apply(extract_entities)

# Combine all extractions for comprehensive analysis
def combine_all_extractions(row):
    """Combine all extracted information"""
    return {
        'technical_skills': row['extracted_skills'],
        'domains': row['extracted_domains'],
        'soft_skills': row['extracted_soft_skills'],
        'named_entities': row['entities']
    }

df['comprehensive_extraction'] = df.apply(combine_all_extractions, axis=1)

# Save cleaned data
df.to_csv("cleaned_jobs_comprehensive_ner.csv", index=False)

print("✅ Data cleaned, preprocessed with comprehensive NER, and saved to cleaned_jobs_comprehensive_ner.csv")
print("\n📊 Sample results:")
for i in range(min(3, len(df))):
    print(f"\n--- Job {i+1} ---")
    if 'title' in df.columns:
        print(f"Title: {df.iloc[i]['title']}")
    if 'company' in df.columns:
        print(f"Company: {df.iloc[i]['company']}")
    print(f"Technical Skills: {df.iloc[i]['extracted_skills'][:5]}...")  # Show first 5
    print(f"Domains: {df.iloc[i]['extracted_domains'][:3]}...")  # Show first 3
    print(f"Soft Skills: {df.iloc[i]['extracted_soft_skills'][:3]}...")  # Show first 3

✅ Data cleaned, preprocessed with comprehensive NER, and saved to cleaned_jobs_comprehensive_ner.csv

📊 Sample results:

--- Job 1 ---
Technical Skills: ['r']...
Domains: ['finance', 'ar', 'support']...
Soft Skills: ['communication']...

--- Job 2 ---
Technical Skills: []...
Domains: []...
Soft Skills: []...

--- Job 3 ---
Technical Skills: ['rust', 'git', 'qlik', 'python', 'go']...
Domains: ['automation', 'growth', 'platform']...
Soft Skills: ['initiative', 'organization', 'agile']...

In [354]:
# Optional: Create summary statistics
print(f"\n📈 Summary Statistics:")
print(f"Total jobs processed: {len(df)}")
print(f"Average technical skills per job: {df['extracted_skills'].apply(len).mean():.1f}")
print(f"Average domains per job: {df['extracted_domains'].apply(len).mean():.1f}")
print(f"Average soft skills per job: {df['extracted_soft_skills'].apply(len).mean():.1f}")

📈 Summary Statistics:
Total jobs processed: 5242
Average technical skills per job: 4.6
Average domains per job: 4.1
Average soft skills per job: 2.9

In [356]:
# Most common skills across all jobs
from collections import Counter
all_tech_skills = [skill for skills_list in df['extracted_skills'] for skill in skills_list]
all_domains = [domain for domains_list in df['extracted_domains'] for domain in domains_list]
all_soft_skills = [skill for skills_list in df['extracted_soft_skills'] for skill in skills_list]

print(f"\n🔥 Top 10 Technical Skills:")
for skill, count in Counter(all_tech_skills).most_common(10):
    print(f"  {skill}: {count}")

print(f"\n🏢 Top 10 Domains:")
for domain, count in Counter(all_domains).most_common(10):
    print(f"  {domain}: {count}")

print(f"\n💡 Top 10 Soft Skills:")
for skill, count in Counter(all_soft_skills).most_common(10):
    print(f"  {skill}: {count}")

🔥 Top 10 Technical Skills:
  r: 3973
  go: 2880
  git: 1266
  java: 1177
  sql: 1043
  javascript: 890
  less: 879
  css: 797
  scala: 791
  html: 783

🏢 Top 10 Domains:
  ar: 3940
  platform: 1707
  support: 1474
  api: 1245
  growth: 1165
  marketing: 841
  product management: 840
  hr: 794
  talent: 587
  product development: 584

💡 Top 10 Soft Skills:
  communication: 2306
  research: 1262
  collaboration: 1067
  agile: 995
  organization: 865
  innovation: 770
  ownership: 546
  lean: 542
  initiative: 484
  leadership: 484

In [368]:
df.head()

,Title,Company,Location,Type,Level,Posted_On,Job_URL,job_description_processed,extracted_skills,extracted_domains,extracted_soft_skills,entities,comprehensive_extraction
0,business analyst,Time Hack Consulting,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/busines...,collaborate business area identify business re...,[r],"[finance, ar, support, risk]",[communication],[],"{'technical_skills': ['r'], 'domains': ['finan..."
1,business analyst,Knowledgist ®,India,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/busines...,,[],[],[],[],"{'technical_skills': [], 'domains': [], 'soft_..."
2,data analyst,Exponentia.ai,Chennai,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/data-an...,fast grow technology service company partner e...,"[rust, git, qlik, python, go, r, sql]","[automation, growth, platform, security, artif...","[initiative, organization, agile, innovation, ...","[(fast grow technology, ORG), (uae india singa...","{'technical_skills': ['rust', 'git', 'qlik', '..."
3,data analyst,SmartQ,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/data-an...,,[],[],[],[],"{'technical_skills': [], 'domains': [], 'soft_..."
4,business analyst,Signzy,Bengaluru,Full-time,Entry level,2025-09-11,https://nextleap.app/jobs/data-analyst/associa...,look techno functional business analyst bridge...,"[go, less, r]","[fintech, ar, enterprise, regtech, support]","[communication, ownership]","[(stakeholder document, PERSON)]","{'technical_skills': ['go', 'less', 'r'], 'dom..."

In [370]:
df['extracted_skills'][:10]

0                                              [r]
1                                               []
2            [rust, git, qlik, python, go, r, sql]
3                                               []
4                                    [go, less, r]
5                                               []
6                              [scala, sql, go, r]
7                            [sql, go, tableau, r]
8     [git, tableau, python, go, r, sql, metabase]
9    [rust, scala, go, hubspot, clickup, r, asana]
Name: extracted_skills, dtype: object

In [374]:
df = df.drop(columns=["entities","comprehensive_extraction"])

In [376]:
df.head()

,Title,Company,Location,Type,Level,Posted_On,Job_URL,job_description_processed,extracted_skills,extracted_domains,extracted_soft_skills
0,business analyst,Time Hack Consulting,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/busines...,collaborate business area identify business re...,[r],"[finance, ar, support, risk]",[communication]
1,business analyst,Knowledgist ®,India,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/busines...,,[],[],[]
2,data analyst,Exponentia.ai,Chennai,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/data-an...,fast grow technology service company partner e...,"[rust, git, qlik, python, go, r, sql]","[automation, growth, platform, security, artif...","[initiative, organization, agile, innovation, ..."
3,data analyst,SmartQ,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/data-an...,,[],[],[]
4,business analyst,Signzy,Bengaluru,Full-time,Entry level,2025-09-11,https://nextleap.app/jobs/data-analyst/associa...,look techno functional business analyst bridge...,"[go, less, r]","[fintech, ar, enterprise, regtech, support]","[communication, ownership]"

In [378]:
df = df.rename(columns={'extracted_skills': 'skills', 'extracted_domains': 'domains', 'extracted_soft_skills': 'soft_skills'})

In [380]:
df.head()

,Title,Company,Location,Type,Level,Posted_On,Job_URL,job_description_processed,skills,domains,soft_skills
0,business analyst,Time Hack Consulting,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/busines...,collaborate business area identify business re...,[r],"[finance, ar, support, risk]",[communication]
1,business analyst,Knowledgist ®,India,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/busines...,,[],[],[]
2,data analyst,Exponentia.ai,Chennai,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/data-an...,fast grow technology service company partner e...,"[rust, git, qlik, python, go, r, sql]","[automation, growth, platform, security, artif...","[initiative, organization, agile, innovation, ..."
3,data analyst,SmartQ,Bengaluru,Full-time,Entry level,2025-09-12,https://nextleap.app/jobs/data-analyst/data-an...,,[],[],[]
4,business analyst,Signzy,Bengaluru,Full-time,Entry level,2025-09-11,https://nextleap.app/jobs/data-analyst/associa...,look techno functional business analyst bridge...,"[go, less, r]","[fintech, ar, enterprise, regtech, support]","[communication, ownership]"

In [398]:
import pandas as pd
import ast

# Load your dataset
df_flatten = df

# Function to safely convert to list
def to_list(x):
    if isinstance(x, list):       # Already a list
        return x
    elif isinstance(x, str):
        x = x.strip()
        if x == "" or x == "[]":
            return []
        try:
            return ast.literal_eval(x)  # Convert string to list
        except:
            # If literal_eval fails, treat as a single-item list
            return [x]
    else:
        return []

# Apply safely to all list-columns
for col in ["skills", "domains", "soft_skills"]:
    df_flatten[col] = df_flatten[col].apply(to_list)

# Now explode
skills_expanded = df_flatten.explode("skills")
domains_expanded = df_flatten.explode("domains")
soft_skills_expanded = df_flatten.explode("soft_skills")

# Optional: Save CSVs for Tableau
skills_expanded.to_csv("jobs_skills_flat.csv", index=False)
domains_expanded.to_csv("jobs_domains_flat.csv", index=False)
soft_skills_expanded.to_csv("jobs_soft_skills_flat.csv", index=False)

In [382]:
df.to_csv("Name_entity_recodnition.csv",index=False)

In [384]:
import pandas as pd
from ast import literal_eval



# -----------------------
# 2. Create Jobs Table
# -----------------------
jobs_df = df[[
    "Title", "Company", "Location", "Type", "Level", "Posted_On", "Job_URL", "job_description_processed"
]].reset_index(drop=True)

jobs_df["job_id"] = jobs_df.index + 1  # assign job IDs
jobs_df.to_csv("jobs.csv", index=False)

print("✅ jobs.csv created:", jobs_df.shape)

✅ jobs.csv created: (5242, 9)

In [386]:
# -----------------------
# 3. Create Skills Table + Mapping
# -----------------------
skills_exploded = df[["skills"]].explode("skills").dropna().reset_index()
skills_exploded = skills_exploded.rename(columns={"index": "job_id"})  # job_id will match row index

# Unique skills
unique_skills = pd.DataFrame(skills_exploded["skills"].unique(), columns=["skill_name"]).dropna()
unique_skills["skill_id"] = range(1, len(unique_skills) + 1)

# Mapping job ↔ skill
job_skills = skills_exploded.merge(unique_skills, left_on="skills", right_on="skill_name")[["job_id", "skill_id"]]
job_skills["job_id"] = job_skills["job_id"] + 1  # shift to match job_id from jobs.csv

# Save
unique_skills.to_csv("skills.csv", index=False)
job_skills.to_csv("job_skills.csv", index=False)

print("✅ skills.csv & job_skills.csv created:", unique_skills.shape, job_skills.shape)

✅ skills.csv & job_skills.csv created: (140, 2) (24023, 2)

In [388]:
# -----------------------
# 4. Create Domains Table + Mapping
# -----------------------
domains_exploded = df[["domains"]].explode("domains").dropna().reset_index()
domains_exploded = domains_exploded.rename(columns={"index": "job_id"})

unique_domains = pd.DataFrame(domains_exploded["domains"].unique(), columns=["domain_name"]).dropna()
unique_domains["domain_id"] = range(1, len(unique_domains) + 1)

job_domains = domains_exploded.merge(unique_domains, left_on="domains", right_on="domain_name")[["job_id", "domain_id"]]
job_domains["job_id"] = job_domains["job_id"] + 1

# Save
unique_domains.to_csv("domains.csv", index=False)
job_domains.to_csv("job_domains.csv", index=False)

print("✅ domains.csv & job_domains.csv created:", unique_domains.shape, job_domains.shape)

✅ domains.csv & job_domains.csv created: (92, 2) (21322, 2)

In [390]:
# -----------------------
# 5. Create Soft Skills Table + Mapping
# -----------------------
soft_exploded = df[["soft_skills"]].explode("soft_skills").dropna().reset_index()
soft_exploded = soft_exploded.rename(columns={"index": "job_id"})

unique_soft = pd.DataFrame(soft_exploded["soft_skills"].unique(), columns=["soft_skill_name"]).dropna()
unique_soft["soft_skill_id"] = range(1, len(unique_soft) + 1)

job_soft = soft_exploded.merge(unique_soft, left_on="soft_skills", right_on="soft_skill_name")[["job_id", "soft_skill_id"]]
job_soft["job_id"] = job_soft["job_id"] + 1

# Save
unique_soft.to_csv("soft_skills.csv", index=False)
job_soft.to_csv("job_soft_skills.csv", index=False)

print("✅ soft_skills.csv & job_soft_skills.csv created:", unique_soft.shape, job_soft.shape)

✅ soft_skills.csv & job_soft_skills.csv created: (78, 2) (15303, 2)

In [ ]:
df.to_csv('preprocessed.csv',index=False,header=True)